<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.usercenter.mapper.SysPermitMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.usercenter.po.SysPermit">
            <id column="PERMIT_ID" jdbcType="VARCHAR" property="permitId"/>
            <result column="PERMIT_NAME" jdbcType="VARCHAR" property="permitName"/>
            <result column="PERMIT_VALUE" jdbcType="VARCHAR" property="permitValue"/>
            <result column="PERMIT_CODE" jdbcType="VARCHAR" property="permitCode"/>
            <result column="PERMIT_CODE_NAME" jdbcType="VARCHAR" property="permitCodeName"/>
            <result column="PERMIT_DESC" jdbcType="VARCHAR" property="permitDesc"/>
            <result column="ORDER_FLAG" jdbcType="DECIMAL" property="orderFlag"/>
            <result column="SYS_ID" jdbcType="VARCHAR" property="sysId"/>
            <result column="SYS_NAME" jdbcType="VARCHAR" property="sysName"/>
            <result column="MODIFY_USER_ID" jdbcType="VARCHAR" property="modifyUserId"/>
            <result column="MODIFY_USER_NAME" jdbcType="VARCHAR" property="modifyUserName"/>
            <result column="MODIFY_USER_DEPT_ID" jdbcType="VARCHAR" property="modifyUserDeptId"/>
            <result column="MODIFY_USER_DEPT_NAME" jdbcType="VARCHAR" property="modifyUserDeptName"/>
            <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
            <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3"/>
            <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4"/>
            <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5"/>
            <result column="IS_CHECKED" jdbcType="VARCHAR" property="isChecked"/>

    </resultMap>

    <sql id="Base_Column_List">
        PERMIT_ID,PERMIT_NAME,PERMIT_VALUE,PERMIT_CODE,PERMIT_CODE_NAME,PERMIT_DESC,ORDER_FLAG,SYS_ID,SYS_NAME,MODIFY_USER_ID,MODIFY_USER_NAME,MODIFY_USER_DEPT_ID,MODIFY_USER_DEPT_NAME,MODIFY_TIME,RESERVE1,RESERVE2,RESERVE3,RESERVE4,RESERVE5,IS_CHECKED
    </sql>

    <!-- user-defined -->
    <!--查询用户的角色数据权限,数值越小权限越大-->
    <select id="getUserPermitValue" resultType="java.lang.String" parameterType="java.util.Map" >
        SELECT min(c.permit_value) permitValue
        FROM sys_role_permit a, sys_role_user b, sys_permit c
        WHERE a.role_id = b.role_id
          AND a.permit_id = c.permit_id
          AND b.user_id= #{userId,jdbcType=VARCHAR}
          AND c.permit_code= #{permitType,jdbcType=VARCHAR}
    </select>

    <!--查询用户的角色数据权限,数值越小权限越大-->
    <select id="getUserOwnerRuleValue" resultType="java.lang.String" parameterType="java.util.Map" >
        SELECT min(c.RULE_SQL) permitValue
        FROM SYS_ROLE_DATA_OWNER_RULE a, SYS_ROLE_USER b, SYS_DATA_OWNER_RULE c
        WHERE a.ROLE_ID = b.ROLE_ID
          AND a.DATA_OWNER_RULE_ID = c.DATA_OWNER_RULE_ID
          AND b.USER_ID= #{userId,jdbcType=VARCHAR}
          AND c.BIZ_CODE= #{permitType,jdbcType=VARCHAR}
          AND c.SYS_ID = #{proxyId,jdbcType=VARCHAR}
    </select>

</mapper>
