<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.SysUserMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.admin.model.SysUser">
            <id column="USER_ID" jdbcType="VARCHAR" property="userId"/>
            <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName"/>
            <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
            <result column="POLICE_CODE" jdbcType="VARCHAR" property="policeCode"/>
            <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
            <result column="SALT" jdbcType="VARCHAR" property="salt"/>
            <result column="DEPT_ID" jdbcType="VARCHAR" property="deptId"/>
            <result column="USER_LEVEL" jdbcType="VARCHAR" property="userLevel"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="USER_TYPE" jdbcType="VARCHAR" property="userType"/>
            <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
            <result column="TEL" jdbcType="VARCHAR" property="tel"/>
            <result column="MOBILE" jdbcType="VARCHAR" property="mobile"/>
            <result column="IDCARD" jdbcType="VARCHAR" property="idcard"/>
            <result column="CERTIFICATE" jdbcType="VARCHAR" property="certificate"/>
            <result column="CUNITID" jdbcType="VARCHAR" property="cunitid"/>
            <result column="SUNITID" jdbcType="VARCHAR" property="sunitid"/>
            <result column="TUNITID" jdbcType="VARCHAR" property="tunitid"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
            <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3"/>
            <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4"/>
            <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5"/>
            <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
            <result column="ADD_USER_ID" jdbcType="VARCHAR" property="addUserId"/>
            <result column="ADD_USER_NAME" jdbcType="VARCHAR" property="addUserName"/>
            <result column="ADD_TIME" jdbcType="DATE" property="addTime"/>
            <result column="MODIFY_USER_ID" jdbcType="VARCHAR" property="modifyUserId"/>
            <result column="MODIFY_USER_NAME" jdbcType="VARCHAR" property="modifyUserName"/>
            <result column="MODIFY_TIME" jdbcType="DATE" property="modifyTime"/>
            <result column="BOUND_LOGIN" jdbcType="VARCHAR" property="boundLogin"/>
            <result column="IP" jdbcType="VARCHAR" property="ip"/>
            <result column="MAC_ADDRESS" jdbcType="VARCHAR" property="macAddress"/>
            <result column="ISUPDATE" jdbcType="VARCHAR" property="isupdate"/>
            <result column="HAS_FINGER" jdbcType="DECIMAL" property="hasFinger"/>
            <result column="HAS_LRIS" jdbcType="DECIMAL" property="hasLris"/>
            <result column="USER_LXBM" jdbcType="DECIMAL" property="userLxbm"/>
            <result column="HAS_SEAL" jdbcType="VARCHAR" property="hasSeal"/>

    </resultMap>

    <sql id="Base_Column_List">
        USER_ID,LOGIN_NAME,USER_NAME,POLICE_CODE,PASSWORD,SALT,DEPT_ID,USER_LEVEL,STATUS,USER_TYPE,EMAIL,TEL,MOBILE,IDCARD,CERTIFICATE,CUNITID,SUNITID,TUNITID,RESERVE1,RESERVE2,RESERVE3,RESERVE4,RESERVE5,MEMO,ADD_USER_ID,ADD_USER_NAME,ADD_TIME,MODIFY_USER_ID,MODIFY_USER_NAME,MODIFY_TIME,BOUND_LOGIN,IP,MAC_ADDRESS,ISUPDATE,HAS_FINGER,HAS_LRIS,USER_LXBM,HAS_SEAL
    </sql>

    <!-- user-defined -->

</mapper>