<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.ygjw.mapper.PsTransMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.ygjw.model.PsTrans">
            <id column="ID" jdbcType="VARCHAR" property="id"/>
            <result column="CODE" jdbcType="VARCHAR" property="code"/>
            <result column="NAME" jdbcType="VARCHAR" property="name"/>
            <result column="TYPE" jdbcType="VARCHAR" property="type"/>
            <result column="LY" jdbcType="VARCHAR" property="ly"/>
            <result column="REP_NAME" jdbcType="VARCHAR" property="repName"/>
            <result column="REP_CARD_TYPE" jdbcType="VARCHAR" property="repCardType"/>
            <result column="REP_IDCARD" jdbcType="VARCHAR" property="repIdcard"/>
            <result column="REP_PHOTO" jdbcType="VARCHAR" property="repPhoto"/>
            <result column="REP_SEX" jdbcType="VARCHAR" property="repSex"/>
            <result column="REP_BRITHDAY" jdbcType="VARCHAR" property="repBrithday"/>
            <result column="REP_TEL" jdbcType="VARCHAR" property="repTel"/>
            <result column="REP_NATION" jdbcType="VARCHAR" property="repNation"/>
            <result column="REP_WORKUNIT" jdbcType="VARCHAR" property="repWorkunit"/>
            <result column="REP_REG_CODE" jdbcType="VARCHAR" property="repRegCode"/>
            <result column="REP_REG_ADDR" jdbcType="VARCHAR" property="repRegAddr"/>
            <result column="REP_ADDR_CODE" jdbcType="VARCHAR" property="repAddrCode"/>
            <result column="REP_ADDR" jdbcType="VARCHAR" property="repAddr"/>
            <result column="REP_TIME" jdbcType="DATE" property="repTime"/>
            <result column="OCC_TIME" jdbcType="DATE" property="occTime"/>
            <result column="OCC_ADDR" jdbcType="VARCHAR" property="occAddr"/>
            <result column="OCC_REASON" jdbcType="VARCHAR" property="occReason"/>
            <result column="OCC_DESCR" jdbcType="CLOB" property="occDescr"/>
            <result column="DATA_TYPE" jdbcType="VARCHAR" property="dataType"/>
            <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
            <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
            <result column="CREATE_ID" jdbcType="VARCHAR" property="createId"/>
            <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName"/>
            <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
            <result column="MODER_ID" jdbcType="VARCHAR" property="moderId"/>
            <result column="MODER_NAME" jdbcType="VARCHAR" property="moderName"/>
            <result column="MODER_TIME" jdbcType="DATE" property="moderTime"/>
            <result column="OWN_ORG_1" jdbcType="VARCHAR" property="ownOrg1"/>
            <result column="OWN_ORG_2" jdbcType="VARCHAR" property="ownOrg2"/>
            <result column="OWN_ORG_3" jdbcType="VARCHAR" property="ownOrg3"/>
            <result column="OWN_ORG_4" jdbcType="VARCHAR" property="ownOrg4"/>
            <result column="OWN_ORG_5" jdbcType="VARCHAR" property="ownOrg5"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>

    </resultMap>

    <sql id="Base_Column_List">
        ID,CODE,NAME,TYPE,LY,REP_NAME,REP_CARD_TYPE,REP_IDCARD,REP_PHOTO,REP_SEX,REP_BRITHDAY,REP_TEL,REP_NATION,REP_WORKUNIT,REP_REG_CODE,REP_REG_ADDR,REP_ADDR_CODE,REP_ADDR,REP_TIME,OCC_TIME,OCC_ADDR,OCC_REASON,OCC_DESCR,DATA_TYPE,ORG_CODE,ORG_NAME,STATUS,MEMO,CREATE_ID,CREATE_NAME,CREATE_TIME,MODER_ID,MODER_NAME,MODER_TIME,OWN_ORG_1,OWN_ORG_2,OWN_ORG_3,OWN_ORG_4,OWN_ORG_5,RESERVE1,RESERVE2
    </sql>

    <!-- user-defined -->

</mapper>