<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.lesppc.mapper.PcBjwtMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.lesppc.model.PcBjwt">
        <id column="BJWT_BH" jdbcType="VARCHAR" property="bjwtBh"/>
        <result column="WTMX_BH" jdbcType="VARCHAR" property="wtmxBh"/>
        <result column="WTMX_MC" jdbcType="VARCHAR" property="wtmxMc"/>
        <result column="WTLY_BH" jdbcType="VARCHAR" property="wtlyBh"/>
        <result column="WTLY_MC" jdbcType="VARCHAR" property="wtlyMc"/>
        <result column="SJLY" jdbcType="VARCHAR" property="sjly"/>
        <result column="WTWD1" jdbcType="VARCHAR" property="wtwd1"/>
        <result column="WTWD2" jdbcType="VARCHAR" property="wtwd2"/>
        <result column="WTWD3" jdbcType="VARCHAR" property="wtwd3"/>
        <result column="WTWD4" jdbcType="VARCHAR" property="wtwd4"/>
        <result column="WTWD5" jdbcType="VARCHAR" property="wtwd5"/>
        <result column="YWRY_BH" jdbcType="VARCHAR" property="ywryBh"/>
        <result column="YWRY_XM" jdbcType="VARCHAR" property="ywryXm"/>
        <result column="YWRY_SFZHM" jdbcType="VARCHAR" property="ywrySfzhm"/>
        <result column="YWRY_JH" jdbcType="VARCHAR" property="ywryJh"/>
        <result column="YWDW_BM" jdbcType="VARCHAR" property="ywdwBm"/>
        <result column="YWDW_MC" jdbcType="VARCHAR" property="ywdwMc"/>
        <result column="GA_OWNER_DEPT_1" jdbcType="VARCHAR" property="gaOwnerDept1"/>
        <result column="GA_OWNER_DEPT_2" jdbcType="VARCHAR" property="gaOwnerDept2"/>
        <result column="GA_OWNER_DEPT_3" jdbcType="VARCHAR" property="gaOwnerDept3"/>
        <result column="GA_OWNER_DEPT_4" jdbcType="VARCHAR" property="gaOwnerDept4"/>
        <result column="GA_OWNER_DEPT_5" jdbcType="VARCHAR" property="gaOwnerDept5"/>
        <result column="BZ_OWNER_DEPT_1" jdbcType="VARCHAR" property="bzOwnerDept1"/>
        <result column="BZ_OWNER_DEPT_2" jdbcType="VARCHAR" property="bzOwnerDept2"/>
        <result column="BZ_OWNER_DEPT_3" jdbcType="VARCHAR" property="bzOwnerDept3"/>
        <result column="BZ_OWNER_DEPT_4" jdbcType="VARCHAR" property="bzOwnerDept4"/>
        <result column="BZ_OWNER_DEPT_5" jdbcType="VARCHAR" property="bzOwnerDept5"/>
        <result column="WTZT" jdbcType="VARCHAR" property="wtzt"/>
        <result column="WTZT2" jdbcType="VARCHAR" property="wtzt2"/>
        <result column="WTLX" jdbcType="VARCHAR" property="wtlx"/>
        <result column="CREATED_USER_ID" jdbcType="VARCHAR" property="createdUserId"/>
        <result column="CREATED_DATE" jdbcType="DATE" property="createdDate"/>
        <result column="CREATED_DEPT_ID" jdbcType="VARCHAR" property="createdDeptId"/>
        <result column="CREATED_DEPT_NAME" jdbcType="VARCHAR" property="createdDeptName"/>
        <result column="MODIFIED_USER_ID" jdbcType="VARCHAR" property="modifiedUserId"/>
        <result column="MODIFIED_DATE" jdbcType="DATE" property="modifiedDate"/>
        <result column="MODIFIED_DEPT_ID" jdbcType="VARCHAR" property="modifiedDeptId"/>
        <result column="MODIFIED_DEPT_NAME" jdbcType="VARCHAR" property="modifiedDeptName"/>
    </resultMap>

    <sql id="Base_Column_List">
        BJWT_BH,WTMX_BH,WTMX_MC,WTLY_BH,WTLY_MC,SJLY,WTWD1,WTWD2,WTWD3,WTWD4,WTWD5,YWRY_BH,YWRY_XM,YWRY_SFZHM,YWRY_JH,YWDW_BM,YWDW_MC,GA_OWNER_DEPT_1,GA_OWNER_DEPT_2,GA_OWNER_DEPT_3,GA_OWNER_DEPT_4,GA_OWNER_DEPT_5,BZ_OWNER_DEPT_1,BZ_OWNER_DEPT_2,BZ_OWNER_DEPT_3,BZ_OWNER_DEPT_4,BZ_OWNER_DEPT_5,WTZT,WTZT2,WTLX,CREATED_USER_ID,CREATED_DATE,CREATED_DEPT_ID,CREATED_DEPT_NAME,MODIFIED_USER_ID,MODIFIED_DATE,MODIFIED_DEPT_ID,MODIFIED_DEPT_NAME
    </sql>

    <!-- user-defined -->
    <!--产生问题数-->
    <select id="getSacwWtCount" resultType="int" parameterType="map">
        SELECT COUNT(T.BJWT_BH) FROM PC_BJWT   t  WHERE t.WTLY_BH = 'LECP_PCW'
    </select>

    <!--已督办-->
    <select id="getSacwDbCount" resultType="int" parameterType="map">
        SELECT COUNT(T.BJWT_BH) FROM PC_BJWT   t  WHERE t.WTLY_BH = 'LECP_PCW'  AND t.WTZT IN('31','45','51','61','62')
    </select>

    <!--已闭环-->
    <select id="getSacwBhCount" resultType="int" parameterType="map">
        SELECT COUNT(T.BJWT_BH) FROM PC_BJWT   t  WHERE t.WTLY_BH = 'LECP_PCW'  AND t.WTZT IN('10','11','12','13','14')
    </select>

    <!--涉案财物-按问题类型统计该类模型产生的问题数-->
    <select id="getWtCountByMxType" resultType="com.pkusoft.lesppc.req.YjWtVo" parameterType="map">
        SELECT T.WTMX_MC as mc ,T.WTMX_BH as bh ,COUNT(T.WTMX_BH) as total FROM  PC_BJWT T   WHERE T.WTLY_BH = 'LESP_PCW'  GROUP BY T.WTMX_MC,T.WTMX_BH
    </select>

    <!--涉案财物-获取按单位统计的问题排名-->
    <select id="getWtpmByDept" resultType="com.pkusoft.lesppc.req.WtpmVo" parameterType="map">
         SELECT T.YWDW_BM deptId,T.YWDW_MC deptName, COUNT(*) total FROM  PC_BJWT T
        WHERE T.WTLY_BH = 'LESP_PCW'  GROUP BY T.YWDW_BM,T.YWDW_MC ORDER BY total DESC
    </select>

    <!--查询涉案财物领域问题总数-->
    <select id="getWtTotal" resultType="int" parameterType="map">
        SELECT  COUNT(*)  FROM  PC_BJWT WHERE WTLY_BH = 'LESP_PCW'
    </select>

    <select id="getWtList" resultType="com.pkusoft.lesppc.req.WtLbVo" parameterType="map">
        SELECT BJWT_BH id, WTWD1 ajbh,WTWD2 ajmc,WTMX_MC mxlbmc ,YWRY_BH deptId,YWDW_MC deptName FROM PC_BJWT T WHERE T.WTLY_BH ='LESP_PCW' AND  ROWNUM &lt;= 30
    </select>


    <select id="getWtxxListByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
        select b.*
        from( select a.*, rownum rn
              from ( select BJWT_BH,WTMX_BH,WTMX_MC,WTLY_BH,WTLY_MC,SJLY,WTWD1,WTWD2,WTWD3,WTWD4,WTWD5,YWRY_BH,YWRY_XM,YWRY_SFZHM,
                            YWRY_JH,YWDW_BM,YWDW_MC,GA_OWNER_DEPT_1,GA_OWNER_DEPT_2,GA_OWNER_DEPT_3,GA_OWNER_DEPT_4,GA_OWNER_DEPT_5,
                            BZ_OWNER_DEPT_1,BZ_OWNER_DEPT_2,BZ_OWNER_DEPT_3,BZ_OWNER_DEPT_4,BZ_OWNER_DEPT_5,WTZT,WTZT2,WTLX,CREATED_DATE
                    from PC_BJWT t
                    where 1=1
        <if test="deptLevel == '3'.toString()">
            AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="deptLevel == '4'.toString()">
            AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='1'.toString() and strDate!=null">
            AND to_char(CREATED_DATE, 'yyyyMMdd') = #{strDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='2'.toString() and startDate != null and endDate != null">
            AND to_char(CREATED_DATE, 'yyyyMMdd') >= #{startDate, jdbcType=VARCHAR}
            AND to_char(CREATED_DATE, 'yyyyMMdd') &lt;= #{endDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='3'.toString() and strDate!=null">
            AND to_char(CREATED_DATE, 'yyyyMM') = #{strDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType==4 and strDate!=null">
            AND to_char(CREATED_DATE, 'yyyy') = #{strDate, jdbcType=VARCHAR}
        </if>
                    order by wtzt desc, CREATED_DATE desc
                    )a
        )b
        where b.rn >0 and b.rn &lt; = 100
    </select>

    <select id="getWtxxCountByParams" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) count
        from PC_BJWT t
        where 1=1
        <if test="deptLevel == '3'.toString()">
            AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="deptLevel == '4'.toString()">
            AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='1'.toString() and strDate!=null">
            AND to_char(CREATED_DATE, 'yyyyMMdd') = #{strDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='2'.toString() and startDate != null and endDate != null">
            AND to_char(CREATED_DATE, 'yyyyMMdd') >= #{startDate, jdbcType=VARCHAR}
            AND to_char(CREATED_DATE, 'yyyyMMdd') &lt;= #{endDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='3'.toString() and strDate!=null">
            AND to_char(CREATED_DATE, 'yyyyMM') = #{strDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType==4 and strDate!=null">
            AND to_char(CREATED_DATE, 'yyyy') = #{strDate, jdbcType=VARCHAR}
        </if>
    </select>

</mapper>
