<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.lesppc.mapper.PcYjwtMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.lesppc.model.PcYjwt">
        <id column="YJWT_BH" jdbcType="VARCHAR" property="yjwtBh"/>
        <result column="WTMX_BH" jdbcType="VARCHAR" property="wtmxBh"/>
        <result column="WTMX_MC" jdbcType="VARCHAR" property="wtmxMc"/>
        <result column="WTLY_BH" jdbcType="VARCHAR" property="wtlyBh"/>
        <result column="WTLY_MC" jdbcType="VARCHAR" property="wtlyMc"/>
        <result column="SJLY" jdbcType="VARCHAR" property="sjly"/>
        <result column="WTWD1" jdbcType="VARCHAR" property="wtwd1"/>
        <result column="WTWD2" jdbcType="VARCHAR" property="wtwd2"/>
        <result column="WTWD3" jdbcType="VARCHAR" property="wtwd3"/>
        <result column="WTWD4" jdbcType="VARCHAR" property="wtwd4"/>
        <result column="WTWD5" jdbcType="VARCHAR" property="wtwd5"/>
        <result column="YWRY_BH" jdbcType="VARCHAR" property="ywryBh"/>
        <result column="YWRY_XM" jdbcType="VARCHAR" property="ywryXm"/>
        <result column="YWRY_SFZHM" jdbcType="VARCHAR" property="ywrySfzhm"/>
        <result column="YWRY_JH" jdbcType="VARCHAR" property="ywryJh"/>
        <result column="YWDW_BM" jdbcType="VARCHAR" property="ywdwBm"/>
        <result column="YWDW_MC" jdbcType="VARCHAR" property="ywdwMc"/>
        <result column="GA_OWNER_DEPT_1" jdbcType="VARCHAR" property="gaOwnerDept1"/>
        <result column="GA_OWNER_DEPT_2" jdbcType="VARCHAR" property="gaOwnerDept2"/>
        <result column="GA_OWNER_DEPT_3" jdbcType="VARCHAR" property="gaOwnerDept3"/>
        <result column="GA_OWNER_DEPT_4" jdbcType="VARCHAR" property="gaOwnerDept4"/>
        <result column="GA_OWNER_DEPT_5" jdbcType="VARCHAR" property="gaOwnerDept5"/>
        <result column="BZ_OWNER_DEPT_1" jdbcType="VARCHAR" property="bzOwnerDept1"/>
        <result column="BZ_OWNER_DEPT_2" jdbcType="VARCHAR" property="bzOwnerDept2"/>
        <result column="BZ_OWNER_DEPT_3" jdbcType="VARCHAR" property="bzOwnerDept3"/>
        <result column="BZ_OWNER_DEPT_4" jdbcType="VARCHAR" property="bzOwnerDept4"/>
        <result column="BZ_OWNER_DEPT_5" jdbcType="VARCHAR" property="bzOwnerDept5"/>
        <result column="WTZT" jdbcType="VARCHAR" property="wtzt"/>
        <result column="JZRQ" jdbcType="DATE" property="jzrq"/>
        <result column="CREATED_USER_ID" jdbcType="VARCHAR" property="createdUserId"/>
        <result column="CREATED_DATE" jdbcType="DATE" property="createdDate"/>
        <result column="CREATED_DEPT_ID" jdbcType="VARCHAR" property="createdDeptId"/>
        <result column="CREATED_DEPT_NAME" jdbcType="VARCHAR" property="createdDeptName"/>
        <result column="MODIFIED_USER_ID" jdbcType="VARCHAR" property="modifiedUserId"/>
        <result column="MODIFIED_DATE" jdbcType="DATE" property="modifiedDate"/>
        <result column="MODIFIED_DEPT_ID" jdbcType="VARCHAR" property="modifiedDeptId"/>
        <result column="MODIFIED_DEPT_NAME" jdbcType="VARCHAR" property="modifiedDeptName"/>

    </resultMap>

    <sql id="Base_Column_List">
        YJWT_BH,WTMX_BH,WTMX_MC,WTLY_BH,WTLY_MC,SJLY,WTWD1,WTWD2,WTWD3,WTWD4,WTWD5,YWRY_BH,YWRY_XM,YWRY_SFZHM,YWRY_JH,YWDW_BM,YWDW_MC,GA_OWNER_DEPT_1,GA_OWNER_DEPT_2,GA_OWNER_DEPT_3,GA_OWNER_DEPT_4,GA_OWNER_DEPT_5,BZ_OWNER_DEPT_1,BZ_OWNER_DEPT_2,BZ_OWNER_DEPT_3,BZ_OWNER_DEPT_4,BZ_OWNER_DEPT_5,WTZT,JZRQ,CREATED_USER_ID,CREATED_DATE,CREATED_DEPT_ID,CREATED_DEPT_NAME,MODIFIED_USER_ID,MODIFIED_DATE,MODIFIED_DEPT_ID,MODIFIED_DEPT_NAME
    </sql>

    <!-- user-defined -->
    <select id="getSaCwYjCount" resultType="int" parameterType="map">
        SELECT COUNT(T.YJWT_BH) FROM PC_YJWT   t  WHERE t.WTLY_BH = 'LECP_PCW'
    </select>
    <!--涉案财物-按预警类型统计该类模型产生的问题数-->
    <select id="getYjCountByMxType" resultType="com.pkusoft.lesppc.req.YjWtVo" parameterType="map">
        SELECT T.WTMX_MC as mc,T.WTMX_BH as bh,COUNT(T.WTMX_BH) FROM  PC_YJWT T   WHERE T.WTLY_BH = 'LESP_PCW'  GROUP BY T.WTMX_MC,T.WTMX_BH
    </select>

    <select id="getYjList" resultType="com.pkusoft.lesppc.req.WtLbVo" parameterType="map">
        SELECT YJWT_BH id, WTWD1 ajbh,WTWD2 ajmc,WTMX_MC mxlbmc ,YWRY_BH deptId,YWDW_MC deptName FROM PC_YJWT T WHERE T.WTLY_BH ='LESP_PCW' AND ROWNUM &lt;= 30
    </select>


    <select id="getYjxxListByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
       select b.*
       from( select a.*, rownum rn
             from ( select YJWT_BH,WTMX_BH,WTMX_MC,WTLY_BH,WTLY_MC,SJLY,WTWD1,WTWD2,WTWD3,WTWD4,WTWD5,YWRY_BH,YWRY_XM,YWRY_SFZHM,YWRY_JH,YWDW_BM,YWDW_MC,WTZT,JZRQ,CREATED_USER_ID,CREATED_DATE
                    from pc_yjwt t
                    where wtzt='1'
        <if test="deptLevel == '3'.toString()">
            AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="deptLevel == '4'.toString()">
            AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='1'.toString() and strDate!=null">
            AND to_char(jzrq, 'yyyyMMdd') = #{strDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='2'.toString() and startDate != null and endDate != null">
            AND to_char(jzrq, 'yyyyMMdd') >= #{startDate, jdbcType=VARCHAR}
            AND to_char(jzrq, 'yyyyMMdd') &lt;= #{endDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='3'.toString() and strDate!=null">
            AND to_char(jzrq, 'yyyyMM') = #{strDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType==4 and strDate!=null">
            AND  to_char(jzrq, 'yyyy') = #{strDate, jdbcType=VARCHAR}
        </if>
                    order by jzrq desc
                  )a
       )b
       where b.rn >0 and b.rn &lt; = 100
    </select>

    <select id="getYjxxCountByParams" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) count
        from pc_yjwt t
        where wtzt='1'
        <if test="deptLevel == '3'.toString()">
            AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="deptLevel == '4'.toString()">
            AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='1'.toString() and strDate!=null">
            AND to_char(jzrq, 'yyyyMMdd') = #{strDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='2'.toString() and startDate != null and endDate != null">
            AND to_char(jzrq, 'yyyyMMdd') >= #{startDate, jdbcType=VARCHAR}
            AND to_char(jzrq, 'yyyyMMdd') &lt;= #{endDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType=='3'.toString() and strDate!=null">
            AND to_char(jzrq, 'yyyyMM') = #{strDate, jdbcType=VARCHAR}
        </if>
        <if test="dateType!=null and dateType==4 and strDate!=null">
            AND to_char(jzrq, 'yyyy') = #{strDate, jdbcType=VARCHAR}
        </if>
    </select>
</mapper>
