<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.agxt.mapper.CabSpaceMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.agxt.model.CabSpace">
            <id column="ID" jdbcType="VARCHAR" property="id"/>
            <result column="CODE" jdbcType="VARCHAR" property="code"/>
            <result column="NAME" jdbcType="VARCHAR" property="name"/>
            <result column="PLACE_ID" jdbcType="VARCHAR" property="placeId"/>
            <result column="PLACE_NAME" jdbcType="VARCHAR" property="placeName"/>
            <result column="AREA_ID" jdbcType="VARCHAR" property="areaId"/>
            <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName"/>
            <result column="TYPE" jdbcType="VARCHAR" property="type"/>
            <result column="GROUP_CODE" jdbcType="VARCHAR" property="groupCode"/>
            <result column="SN" jdbcType="DECIMAL" property="sn"/>
            <result column="OWNER_ID" jdbcType="VARCHAR" property="ownerId"/>
            <result column="OWNER_NAME" jdbcType="VARCHAR" property="ownerName"/>
            <result column="CELL_COUNT" jdbcType="DECIMAL" property="cellCount"/>
            <result column="CAPACITY" jdbcType="DECIMAL" property="capacity"/>
            <result column="USED_CAP" jdbcType="DECIMAL" property="usedCap"/>
            <result column="IS_FULL" jdbcType="DECIMAL" property="isFull"/>
            <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
            <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
            <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3"/>
            <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
            <result column="ROW_STATUS" jdbcType="DECIMAL" property="rowStatus"/>
            <result column="CREATER_ID" jdbcType="VARCHAR" property="createrId"/>
            <result column="CREATER_NAME" jdbcType="VARCHAR" property="createrName"/>
            <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
            <result column="MODER_ID" jdbcType="VARCHAR" property="moderId"/>
            <result column="MODER_NAME" jdbcType="VARCHAR" property="moderName"/>
            <result column="MOD_TIME" jdbcType="DATE" property="modTime"/>
            <result column="ORG_C" jdbcType="VARCHAR" property="orgC"/>
            <result column="ORG_S" jdbcType="VARCHAR" property="orgS"/>
            <result column="ORG_T" jdbcType="VARCHAR" property="orgT"/>
            <result column="ORG_C_DATA" jdbcType="VARCHAR" property="orgCData"/>
            <result column="ORG_S_DATA" jdbcType="VARCHAR" property="orgSData"/>
            <result column="ORG_T_DATA" jdbcType="VARCHAR" property="orgTData"/>
            <result column="IS_PUBLIC" jdbcType="DECIMAL" property="isPublic"/>
            <result column="CUR_ORG" jdbcType="VARCHAR" property="curOrg"/>
            <result column="CUR_ORG_DATA" jdbcType="VARCHAR" property="curOrgData"/>
            <result column="FILE_COUNT" jdbcType="DECIMAL" property="fileCount"/>
            <result column="CUR_FILE_COUNT" jdbcType="DECIMAL" property="curFileCount"/>

    </resultMap>

    <sql id="Base_Column_List">
        ID,CODE,NAME,PLACE_ID,PLACE_NAME,AREA_ID,AREA_NAME,TYPE,GROUP_CODE,SN,OWNER_ID,OWNER_NAME,CELL_COUNT,CAPACITY,USED_CAP,IS_FULL,ORG_CODE,ORG_NAME,STATUS,RESERVE1,RESERVE2,RESERVE3,MEMO,ROW_STATUS,CREATER_ID,CREATER_NAME,CREATE_TIME,MODER_ID,MODER_NAME,MOD_TIME,ORG_C,ORG_S,ORG_T,ORG_C_DATA,ORG_S_DATA,ORG_T_DATA,IS_PUBLIC,CUR_ORG,CUR_ORG_DATA,FILE_COUNT,CUR_FILE_COUNT
    </sql>
    <select id="getMaxSN" resultType="java.lang.Integer">
            select max(sn) from CAB_SPACE
    </select>

    <!-- user-defined -->

</mapper>
