<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.agxt.mapper.FileTrackMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.agxt.model.FileTrack">
            <id column="ID" jdbcType="VARCHAR" property="id"/>
            <result column="FILE_ID" jdbcType="VARCHAR" property="fileId"/>
            <result column="FILE_CODE" jdbcType="VARCHAR" property="fileCode"/>
            <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
            <result column="OPER_TIME" jdbcType="DATE" property="operTime"/>
            <result column="OPER_ID" jdbcType="VARCHAR" property="operId"/>
            <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
            <result column="OPER_NAME" jdbcType="VARCHAR" property="operName"/>
            <result column="OPER_TYPE" jdbcType="VARCHAR" property="operType"/>
            <result column="OPER_DETAIL" jdbcType="VARCHAR" property="operDetail"/>
            <result column="TAG_ORG_CODE" jdbcType="VARCHAR" property="tagOrgCode"/>
            <result column="TAG_ORG_NAME" jdbcType="VARCHAR" property="tagOrgName"/>
            <result column="TAG_USER_CODE" jdbcType="VARCHAR" property="tagUserCode"/>
            <result column="TAG_USER_NAME" jdbcType="VARCHAR" property="tagUserName"/>
            <result column="IS_OPENED" jdbcType="DECIMAL" property="isOpened"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
            <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3"/>
            <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
            <result column="ROW_STATUS" jdbcType="DECIMAL" property="rowStatus"/>
            <result column="CREATER_ID" jdbcType="VARCHAR" property="createrId"/>
            <result column="CREATER_NAME" jdbcType="VARCHAR" property="createrName"/>
            <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
            <result column="MODER_ID" jdbcType="VARCHAR" property="moderId"/>
            <result column="MODER_NAME" jdbcType="VARCHAR" property="moderName"/>
            <result column="MOD_TIME" jdbcType="DATE" property="modTime"/>
            <result column="ORG_C" jdbcType="VARCHAR" property="orgC"/>
            <result column="ORG_S" jdbcType="VARCHAR" property="orgS"/>
            <result column="ORG_T" jdbcType="VARCHAR" property="orgT"/>
            <result column="ORG_C_DATA" jdbcType="VARCHAR" property="orgCData"/>
            <result column="ORG_S_DATA" jdbcType="VARCHAR" property="orgSData"/>
            <result column="ORG_T_DATA" jdbcType="VARCHAR" property="orgTData"/>
            <result column="CUR_ORG" jdbcType="VARCHAR" property="curOrg"/>
            <result column="CUR_ORG_DATA" jdbcType="VARCHAR" property="curOrgData"/>
            <result column="LOGIN_TYPE" jdbcType="VARCHAR" property="loginType"/>
            <result column="OPERDEPT_CODE" jdbcType="VARCHAR" property="operdeptCode"/>
            <result column="OPERDEPT_NAME" jdbcType="VARCHAR" property="operdeptName"/>
            <result column="PIC_PATH" jdbcType="VARCHAR" property="picPath"/>

    </resultMap>

    <sql id="Base_Column_List">
        ID,FILE_ID,FILE_CODE,FILE_NAME,OPER_TIME,OPER_ID,OPER_CODE,OPER_NAME,OPER_TYPE,OPER_DETAIL,TAG_ORG_CODE,TAG_ORG_NAME,TAG_USER_CODE,TAG_USER_NAME,IS_OPENED,STATUS,RESERVE1,RESERVE2,RESERVE3,MEMO,ROW_STATUS,CREATER_ID,CREATER_NAME,CREATE_TIME,MODER_ID,MODER_NAME,MOD_TIME,ORG_C,ORG_S,ORG_T,ORG_C_DATA,ORG_S_DATA,ORG_T_DATA,CUR_ORG,CUR_ORG_DATA,LOGIN_TYPE,OPERDEPT_CODE,OPERDEPT_NAME,PIC_PATH
    </sql>

    <!-- user-defined -->

</mapper>
