<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.agxt.mapper.FileNoteMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.agxt.model.FileNote">
            <id column="ID" jdbcType="VARCHAR" property="id"/>
            <result column="CODE" jdbcType="VARCHAR" property="code"/>
            <result column="NAME" jdbcType="VARCHAR" property="name"/>
            <result column="CASE_ID" jdbcType="VARCHAR" property="caseId"/>
            <result column="CASE_CODE" jdbcType="VARCHAR" property="caseCode"/>
            <result column="CASE_NAME" jdbcType="VARCHAR" property="caseName"/>
            <result column="FILE_ID" jdbcType="VARCHAR" property="fileId"/>
            <result column="FILE_CODE" jdbcType="VARCHAR" property="fileCode"/>
            <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
            <result column="METAL_ID" jdbcType="VARCHAR" property="metalId"/>
            <result column="METAL_NAME" jdbcType="VARCHAR" property="metalName"/>
            <result column="PAGE_ID" jdbcType="VARCHAR" property="pageId"/>
            <result column="PAGE_NAME" jdbcType="VARCHAR" property="pageName"/>
            <result column="TYPE" jdbcType="VARCHAR" property="type"/>
            <result column="SN" jdbcType="DECIMAL" property="sn"/>
            <result column="NOTER_ID" jdbcType="VARCHAR" property="noterId"/>
            <result column="NOTER_NAME" jdbcType="VARCHAR" property="noterName"/>
            <result column="NOTE_TIME" jdbcType="DATE" property="noteTime"/>
            <result column="NOTE_TEXT" jdbcType="VARCHAR" property="noteText"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
            <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3"/>
            <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
            <result column="ROW_STATUS" jdbcType="DECIMAL" property="rowStatus"/>
            <result column="CREATER_ID" jdbcType="VARCHAR" property="createrId"/>
            <result column="CREATER_NAME" jdbcType="VARCHAR" property="createrName"/>
            <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
            <result column="MODER_ID" jdbcType="VARCHAR" property="moderId"/>
            <result column="MODER_NAME" jdbcType="VARCHAR" property="moderName"/>
            <result column="MOD_TIME" jdbcType="DATE" property="modTime"/>
            <result column="ORG_C" jdbcType="VARCHAR" property="orgC"/>
            <result column="ORG_S" jdbcType="VARCHAR" property="orgS"/>
            <result column="ORG_T" jdbcType="VARCHAR" property="orgT"/>
            <result column="ORG_C_DATA" jdbcType="VARCHAR" property="orgCData"/>
            <result column="ORG_S_DATA" jdbcType="VARCHAR" property="orgSData"/>
            <result column="ORG_T_DATA" jdbcType="VARCHAR" property="orgTData"/>
            <result column="CUR_ORG" jdbcType="VARCHAR" property="curOrg"/>
            <result column="CUR_ORG_DATA" jdbcType="VARCHAR" property="curOrgData"/>

    </resultMap>

    <sql id="Base_Column_List">
        ID,CODE,NAME,CASE_ID,CASE_CODE,CASE_NAME,FILE_ID,FILE_CODE,FILE_NAME,METAL_ID,METAL_NAME,PAGE_ID,PAGE_NAME,TYPE,SN,NOTER_ID,NOTER_NAME,NOTE_TIME,NOTE_TEXT,STATUS,RESERVE1,RESERVE2,RESERVE3,MEMO,ROW_STATUS,CREATER_ID,CREATER_NAME,CREATE_TIME,MODER_ID,MODER_NAME,MOD_TIME,ORG_C,ORG_S,ORG_T,ORG_C_DATA,ORG_S_DATA,ORG_T_DATA,CUR_ORG,CUR_ORG_DATA
    </sql>

    <!-- user-defined -->

</mapper>
