<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.lespke2.mapper.KeAjWsnrMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.lespke2.po.KeAjWsnr">
            <id column="FLWSBH" jdbcType="VARCHAR" property="flwsbh"/>
            <result column="AJBH" jdbcType="VARCHAR" property="ajbh"/>
            <result column="GLBH" jdbcType="VARCHAR" property="glbh"/>
            <result column="WSBT" jdbcType="VARCHAR" property="wsbt"/>
            <result column="WSZ" jdbcType="VARCHAR" property="wsz"/>
            <result column="WSNR" jdbcType="BLOB" property="wsnr"/>
            <result column="TFDW" jdbcType="VARCHAR" property="tfdw"/>
            <result column="TFDW_MC" jdbcType="VARCHAR" property="tfdwMc"/>
            <result column="TFRQ" jdbcType="DATE" property="tfrq"/>
            <result column="TFR" jdbcType="VARCHAR" property="tfr"/>
            <result column="CZDW" jdbcType="VARCHAR" property="czdw"/>
            <result column="CZDW_MC" jdbcType="VARCHAR" property="czdwMc"/>
            <result column="CZR" jdbcType="VARCHAR" property="czr"/>
            <result column="CZSJ" jdbcType="DATE" property="czsj"/>
            <result column="CZBS" jdbcType="VARCHAR" property="czbs"/>
            <result column="FLWSQZBS" jdbcType="VARCHAR" property="flwsqzbs"/>
            <result column="FLWSMC" jdbcType="VARCHAR" property="flwsmc"/>
            <result column="WH" jdbcType="VARCHAR" property="wh"/>
            <result column="DXMC" jdbcType="VARCHAR" property="dxmc"/>
            <result column="XGSJ" jdbcType="DATE" property="xgsj"/>

    </resultMap>

    <sql id="Base_Column_List">
        FLWSBH,AJBH,GLBH,WSBT,WSZ,WSNR,TFDW,TFDW_MC,TFRQ,TFR,CZDW,CZDW_MC,CZR,CZSJ,CZBS,FLWSQZBS,FLWSMC,WH,DXMC,XGSJ
    </sql>

    <!-- user-defined -->

</mapper>