<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.jjpt.mapper.PiFaceMatchMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.jjpt.po.PiFaceMatch">
            <id column="OBJID" jdbcType="VARCHAR" property="objid"/>
            <result column="OBJTYPE" jdbcType="VARCHAR" property="objtype"/>
            <result column="H_OBJID" jdbcType="VARCHAR" property="hObjid"/>
            <result column="E_ID" jdbcType="VARCHAR" property="eId"/>
            <result column="E_IP" jdbcType="VARCHAR" property="eIp"/>
            <result column="AREA_OBJID" jdbcType="VARCHAR" property="areaObjid"/>
            <result column="AREA_OBJNAME" jdbcType="VARCHAR" property="areaObjname"/>
            <result column="ROOM_OBJID" jdbcType="VARCHAR" property="roomObjid"/>
            <result column="ROOM_OBJNAME" jdbcType="VARCHAR" property="roomObjname"/>
            <result column="THRESHOLD" jdbcType="VARCHAR" property="threshold"/>
            <result column="DATA_STR" jdbcType="CLOB" property="dataStr"/>
            <result column="PIC_FACE" jdbcType="VARCHAR" property="picFace"/>
            <result column="PIC_SCENE" jdbcType="VARCHAR" property="picScene"/>
            <result column="ADD_TIME" jdbcType="VARCHAR" property="addTime"/>
            <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode"/>
            <result column="PERSON_NAME" jdbcType="VARCHAR" property="personName"/>
            <result column="PERSON_CARD_TYPE" jdbcType="VARCHAR" property="personCardType"/>
            <result column="PERSON_IDCARD" jdbcType="VARCHAR" property="personIdcard"/>
            <result column="PERSON_DEPTID" jdbcType="VARCHAR" property="personDeptid"/>
            <result column="PERSON_DEPT_NAME" jdbcType="VARCHAR" property="personDeptName"/>
            <result column="EXAMINE" jdbcType="DECIMAL" property="examine"/>
            <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
            <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
            <result column="ROW_STATUS" jdbcType="VARCHAR" property="rowStatus"/>
            <result column="CREATE_ID" jdbcType="VARCHAR" property="createId"/>
            <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName"/>
            <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="MODER_ID" jdbcType="VARCHAR" property="moderId"/>
            <result column="MODER_NAME" jdbcType="VARCHAR" property="moderName"/>
            <result column="MODER_TIME" jdbcType="TIMESTAMP" property="moderTime"/>
            <result column="OWNER_DEPT_1" jdbcType="VARCHAR" property="ownerDept1"/>
            <result column="OWNER_DEPT_2" jdbcType="VARCHAR" property="ownerDept2"/>
            <result column="OWNER_DEPT_3" jdbcType="VARCHAR" property="ownerDept3"/>
            <result column="OWNER_DEPT_4" jdbcType="VARCHAR" property="ownerDept4"/>
            <result column="OWNER_DEPT_5" jdbcType="VARCHAR" property="ownerDept5"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
            <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3"/>

    </resultMap>

    <sql id="Base_Column_List">
        OBJID,OBJTYPE,H_OBJID,E_ID,E_IP,AREA_OBJID,AREA_OBJNAME,ROOM_OBJID,ROOM_OBJNAME,THRESHOLD,DATA_STR,PIC_FACE,PIC_SCENE,ADD_TIME,PERSON_CODE,PERSON_NAME,PERSON_CARD_TYPE,PERSON_IDCARD,PERSON_DEPTID,PERSON_DEPT_NAME,EXAMINE,ORG_CODE,ORG_NAME,STATUS,MEMO,ROW_STATUS,CREATE_ID,CREATE_NAME,CREATE_TIME,MODER_ID,MODER_NAME,MODER_TIME,OWNER_DEPT_1,OWNER_DEPT_2,OWNER_DEPT_3,OWNER_DEPT_4,OWNER_DEPT_5,RESERVE1,RESERVE2,RESERVE3
    </sql>

    <!-- user-defined -->

</mapper>