<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.jjpt.mapper.PsTransTypeMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.jjpt.po.PsTransType">
            <id column="ID" jdbcType="VARCHAR" property="id"/>
            <result column="TYPE" jdbcType="VARCHAR" property="type"/>
            <result column="NAME" jdbcType="VARCHAR" property="name"/>
            <result column="CODE" jdbcType="VARCHAR" property="code"/>
            <result column="GROUP_NO" jdbcType="VARCHAR" property="groupNo"/>
            <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName"/>
            <result column="SPELL" jdbcType="VARCHAR" property="spell"/>
            <result column="ASPELL" jdbcType="VARCHAR" property="aspell"/>
            <result column="VISIABLE" jdbcType="VARCHAR" property="visiable"/>
            <result column="ORDER_FLAG" jdbcType="DECIMAL" property="orderFlag"/>
            <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
            <result column="CREATE_ID" jdbcType="VARCHAR" property="createId"/>
            <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName"/>
            <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
            <result column="MODER_ID" jdbcType="VARCHAR" property="moderId"/>
            <result column="MODER_NAME" jdbcType="VARCHAR" property="moderName"/>
            <result column="MODER_TIME" jdbcType="DATE" property="moderTime"/>
            <result column="OWN_ORG_1" jdbcType="VARCHAR" property="ownOrg1"/>
            <result column="OWN_ORG_2" jdbcType="VARCHAR" property="ownOrg2"/>
            <result column="OWN_ORG_3" jdbcType="VARCHAR" property="ownOrg3"/>
            <result column="OWN_ORG_4" jdbcType="VARCHAR" property="ownOrg4"/>
            <result column="OWN_ORG_5" jdbcType="VARCHAR" property="ownOrg5"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>

    </resultMap>

    <sql id="Base_Column_List">
        ID,TYPE,NAME,CODE,GROUP_NO,GROUP_NAME,SPELL,ASPELL,VISIABLE,ORDER_FLAG,MEMO,CREATE_ID,CREATE_NAME,CREATE_TIME,MODER_ID,MODER_NAME,MODER_TIME,OWN_ORG_1,OWN_ORG_2,OWN_ORG_3,OWN_ORG_4,OWN_ORG_5,RESERVE1,RESERVE2
    </sql>

    <!-- user-defined -->

    <select id="getPsTransTypeGroup" resultType="java.util.Map">
        SELECT T.GROUP_NO,T.GROUP_NAME FROM PS_TRANS_TYPE T WHERE T.TYPE= #{type,jdbcType=VARCHAR} GROUP BY T.GROUP_NO,T.GROUP_NAME
    </select>
</mapper>
