<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.jjpt.mapper.SpJjxxMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.jjpt.po.SpJjxx">
            <id column="OBJID" jdbcType="VARCHAR" property="objid"/>
            <result column="JJDBH" jdbcType="VARCHAR" property="jjdbh"/>
            <result column="BJRXM" jdbcType="VARCHAR" property="bjrxm"/>
            <result column="BJDH" jdbcType="VARCHAR" property="bjdh"/>
            <result column="REPORTER_SOURCE" jdbcType="VARCHAR" property="reporterSource"/>
            <result column="CALL_NUMBER" jdbcType="VARCHAR" property="callNumber"/>
            <result column="ALARM_SEAT" jdbcType="VARCHAR" property="alarmSeat"/>
            <result column="BJRXB" jdbcType="VARCHAR" property="bjrxb"/>
            <result column="JQTYPEID1" jdbcType="VARCHAR" property="jqtypeid1"/>
            <result column="JQTYPEID2" jdbcType="VARCHAR" property="jqtypeid2"/>
            <result column="JQTYPEID3" jdbcType="VARCHAR" property="jqtypeid3"/>
            <result column="JQTYPE_NAME1" jdbcType="VARCHAR" property="jqtypeName1"/>
            <result column="JQTYPE_NAME2" jdbcType="VARCHAR" property="jqtypeName2"/>
            <result column="JQTYPE_NAME3" jdbcType="VARCHAR" property="jqtypeName3"/>
            <result column="AFDD" jdbcType="VARCHAR" property="afdd"/>
            <result column="BJNR" jdbcType="VARCHAR" property="bjnr"/>
            <result column="BJSJ" jdbcType="TIMESTAMP" property="bjsj"/>
            <result column="JJSJ" jdbcType="TIMESTAMP" property="jjsj"/>
            <result column="CJSJ" jdbcType="TIMESTAMP" property="cjsj"/>
            <result column="FKSJ" jdbcType="TIMESTAMP" property="fksj"/>
            <result column="JJY" jdbcType="VARCHAR" property="jjy"/>
            <result column="JJY_CODE" jdbcType="VARCHAR" property="jjyCode"/>
            <result column="JJDW" jdbcType="VARCHAR" property="jjdw"/>
            <result column="JJDWMC" jdbcType="VARCHAR" property="jjdwmc"/>
            <result column="SLDW" jdbcType="VARCHAR" property="sldw"/>
            <result column="GXDW" jdbcType="VARCHAR" property="gxdw"/>
            <result column="DDSJ" jdbcType="TIMESTAMP" property="ddsj"/>
            <result column="CJR_NAME" jdbcType="VARCHAR" property="cjrName"/>
            <result column="COMMUNITY_CODE" jdbcType="VARCHAR" property="communityCode"/>
            <result column="COMMUNITY_NAME" jdbcType="VARCHAR" property="communityName"/>
            <result column="DDR_CODE" jdbcType="VARCHAR" property="ddrCode"/>
            <result column="DDR_NAME" jdbcType="VARCHAR" property="ddrName"/>
            <result column="LXDH" jdbcType="VARCHAR" property="lxdh"/>
            <result column="SLDW_NAME" jdbcType="VARCHAR" property="sldwName"/>
            <result column="GXDW_NAME" jdbcType="VARCHAR" property="gxdwName"/>
            <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
            <result column="LLDZ" jdbcType="VARCHAR" property="lldz"/>
            <result column="CJDBH" jdbcType="VARCHAR" property="cjdbh"/>
            <result column="CJD_OBJID" jdbcType="VARCHAR" property="cjdObjid"/>
            <result column="FKDBH" jdbcType="VARCHAR" property="fkdbh"/>
            <result column="CA_ID" jdbcType="VARCHAR" property="caId"/>
            <result column="JQ_NAME" jdbcType="VARCHAR" property="jqName"/>
            <result column="BJRZP" jdbcType="VARCHAR" property="bjrzp"/>
            <result column="BJID" jdbcType="VARCHAR" property="bjid"/>
            <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
            <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="CJR_CODE" jdbcType="VARCHAR" property="cjrCode"/>
            <result column="CREATE_ID" jdbcType="VARCHAR" property="createId"/>
            <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName"/>
            <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="MODER_ID" jdbcType="VARCHAR" property="moderId"/>
            <result column="MODER_NAME" jdbcType="VARCHAR" property="moderName"/>
            <result column="MODER_TIME" jdbcType="TIMESTAMP" property="moderTime"/>
            <result column="GA_OWNER_DEPT_1" jdbcType="VARCHAR" property="gaOwnerDept1"/>
            <result column="GA_OWNER_DEPT_2" jdbcType="VARCHAR" property="gaOwnerDept2"/>
            <result column="GA_OWNER_DEPT_3" jdbcType="VARCHAR" property="gaOwnerDept3"/>
            <result column="GA_OWNER_DEPT_4" jdbcType="VARCHAR" property="gaOwnerDept4"/>
            <result column="GA_OWNER_DEPT_5" jdbcType="VARCHAR" property="gaOwnerDept5"/>
            <result column="OWNER_TYPE" jdbcType="VARCHAR" property="ownerType"/>
            <result column="BZ_OWNER_DEPT_1" jdbcType="VARCHAR" property="bzOwnerDept1"/>
            <result column="BZ_OWNER_DEPT_2" jdbcType="VARCHAR" property="bzOwnerDept2"/>
            <result column="BZ_OWNER_DEPT_3" jdbcType="VARCHAR" property="bzOwnerDept3"/>
            <result column="BZ_OWNER_DEPT_4" jdbcType="VARCHAR" property="bzOwnerDept4"/>
            <result column="BZ_OWNER_DEPT_5" jdbcType="VARCHAR" property="bzOwnerDept5"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
            <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3"/>
            <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4"/>
            <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5"/>

    </resultMap>

    <sql id="Base_Column_List">
        OBJID,JJDBH,BJRXM,BJDH,REPORTER_SOURCE,CALL_NUMBER,ALARM_SEAT,BJRXB,JQTYPEID1,JQTYPEID2,JQTYPEID3,JQTYPE_NAME1,JQTYPE_NAME2,JQTYPE_NAME3,AFDD,BJNR,BJSJ,JJSJ,CJSJ,FKSJ,JJY,JJY_CODE,JJDW,JJDWMC,SLDW,GXDW,DDSJ,CJR_NAME,COMMUNITY_CODE,COMMUNITY_NAME,DDR_CODE,DDR_NAME,LXDH,SLDW_NAME,GXDW_NAME,MEMO,LLDZ,CJDBH,CJD_OBJID,FKDBH,CA_ID,JQ_NAME,BJRZP,BJID,ORG_CODE,ORG_NAME,STATUS,CJR_CODE,CREATE_ID,CREATE_NAME,CREATE_TIME,MODER_ID,MODER_NAME,MODER_TIME,GA_OWNER_DEPT_1,GA_OWNER_DEPT_2,GA_OWNER_DEPT_3,GA_OWNER_DEPT_4,GA_OWNER_DEPT_5,OWNER_TYPE,BZ_OWNER_DEPT_1,BZ_OWNER_DEPT_2,BZ_OWNER_DEPT_3,BZ_OWNER_DEPT_4,BZ_OWNER_DEPT_5,RESERVE1,RESERVE2,RESERVE3,RESERVE4,RESERVE5
    </sql>

    <!-- user-defined -->

</mapper>
