<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.jjpt.mapper.SpMediaMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.jjpt.po.SpMedia">
            <id column="OBJID" jdbcType="VARCHAR" property="objid"/>
            <result column="J_OBJID" jdbcType="VARCHAR" property="jObjid"/>
            <result column="TYPE" jdbcType="VARCHAR" property="type"/>
            <result column="SN" jdbcType="DECIMAL" property="sn"/>
            <result column="BEGIN_TIME" jdbcType="DATE" property="beginTime"/>
            <result column="END_TIME" jdbcType="DATE" property="endTime"/>
            <result column="SRC_TYPE" jdbcType="VARCHAR" property="srcType"/>
            <result column="SRC" jdbcType="VARCHAR" property="src"/>
            <result column="INQER1_CODE" jdbcType="VARCHAR" property="inqer1Code"/>
            <result column="INQER1_NAME" jdbcType="VARCHAR" property="inqer1Name"/>
            <result column="INQER2_CODE" jdbcType="VARCHAR" property="inqer2Code"/>
            <result column="INQER2_NAME" jdbcType="VARCHAR" property="inqer2Name"/>
            <result column="RECER_CODE" jdbcType="VARCHAR" property="recerCode"/>
            <result column="RECER_NAME" jdbcType="VARCHAR" property="recerName"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
            <result column="ROW_STATUS" jdbcType="VARCHAR" property="rowStatus"/>
            <result column="CREATE_ID" jdbcType="VARCHAR" property="createId"/>
            <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName"/>
            <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
            <result column="MODER_ID" jdbcType="VARCHAR" property="moderId"/>
            <result column="MODER_NAME" jdbcType="VARCHAR" property="moderName"/>
            <result column="MODER_TIME" jdbcType="DATE" property="moderTime"/>
            <result column="GA_OWNER_DEPT_1" jdbcType="VARCHAR" property="gaOwnerDept1"/>
            <result column="GA_OWNER_DEPT_2" jdbcType="VARCHAR" property="gaOwnerDept2"/>
            <result column="GA_OWNER_DEPT_3" jdbcType="VARCHAR" property="gaOwnerDept3"/>
            <result column="GA_OWNER_DEPT_4" jdbcType="VARCHAR" property="gaOwnerDept4"/>
            <result column="GA_OWNER_DEPT_5" jdbcType="VARCHAR" property="gaOwnerDept5"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
            <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3"/>
            <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
            <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName"/>
            <result column="ROOM_ID" jdbcType="VARCHAR" property="roomId"/>
            <result column="ROOM_NAME" jdbcType="VARCHAR" property="roomName"/>

    </resultMap>

    <sql id="Base_Column_List">
        OBJID,J_OBJID,TYPE,SN,BEGIN_TIME,END_TIME,SRC_TYPE,SRC,INQER1_CODE,INQER1_NAME,INQER2_CODE,INQER2_NAME,RECER_CODE,RECER_NAME,STATUS,MEMO,ROW_STATUS,CREATE_ID,CREATE_NAME,CREATE_TIME,MODER_ID,MODER_NAME,MODER_TIME,GA_OWNER_DEPT_1,GA_OWNER_DEPT_2,GA_OWNER_DEPT_3,GA_OWNER_DEPT_4,GA_OWNER_DEPT_5,RESERVE1,RESERVE2,RESERVE3,ORG_CODE,ORG_NAME,ROOM_ID,ROOM_NAME
    </sql>

    <!-- user-defined -->

</mapper>
