<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.jjpt.mapper.ZzjbjBjxxMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.jjpt.po.ZzjbjBjxx">
            <id column="BJID" jdbcType="VARCHAR" property="bjid"/>
            <result column="BJDBH" jdbcType="VARCHAR" property="bjdbh"/>
            <result column="JJDBH" jdbcType="VARCHAR" property="jjdbh"/>
            <result column="JQLY" jdbcType="VARCHAR" property="jqly"/>
            <result column="BJFS" jdbcType="VARCHAR" property="bjfs"/>
            <result column="BJLB" jdbcType="VARCHAR" property="bjlb"/>
            <result column="XZQH" jdbcType="VARCHAR" property="xzqh"/>
            <result column="BJDWDM" jdbcType="VARCHAR" property="bjdwdm"/>
            <result column="BJDWMC" jdbcType="VARCHAR" property="bjdwmc"/>
            <result column="BJYY" jdbcType="VARCHAR" property="bjyy"/>
            <result column="BJSJ" jdbcType="TIMESTAMP" property="bjsj"/>
            <result column="AFSJ" jdbcType="TIMESTAMP" property="afsj"/>
            <result column="AFSSXQ" jdbcType="VARCHAR" property="afssxq"/>
            <result column="AFDD" jdbcType="VARCHAR" property="afdd"/>
            <result column="XGRY" jdbcType="VARCHAR" property="xgry"/>
            <result column="ZBXX" jdbcType="VARCHAR" property="zbxx"/>
            <result column="BJNR" jdbcType="CLOB" property="bjnr"/>
            <result column="ZBSFAQ" jdbcType="VARCHAR" property="zbsfaq"/>
            <result column="SSQK" jdbcType="VARCHAR" property="ssqk"/>
            <result column="BJDZT" jdbcType="VARCHAR" property="bjdzt"/>
            <result column="FKJG" jdbcType="VARCHAR" property="fkjg"/>
            <result column="BJRXM" jdbcType="VARCHAR" property="bjrxm"/>
            <result column="BJRXB" jdbcType="VARCHAR" property="bjrxb"/>
            <result column="BJRLXDH" jdbcType="VARCHAR" property="bjrlxdh"/>
            <result column="BJRGMSFHM" jdbcType="VARCHAR" property="bjrgmsfhm"/>
            <result column="BJRZZ" jdbcType="VARCHAR" property="bjrzz"/>
            <result column="WECHAT" jdbcType="VARCHAR" property="wechat"/>
            <result column="GXSJ" jdbcType="TIMESTAMP" property="gxsj"/>
            <result column="IF_ACCEPT" jdbcType="VARCHAR" property="ifAccept"/>
            <result column="JJ_OBJID" jdbcType="VARCHAR" property="jjObjid"/>
            <result column="CLSJ" jdbcType="TIMESTAMP" property="clsj"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
            <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3"/>
            <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4"/>
            <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5"/>
            <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6"/>
            <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7"/>
            <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8"/>

    </resultMap>

    <sql id="Base_Column_List">
        BJID,JJDBH,BJDBH,JQLY,BJFS,BJLB,XZQH,BJDWDM,BJDWMC,BJYY,BJSJ,AFSJ,AFSSXQ,AFDD,XGRY,ZBXX,BJNR,ZBSFAQ,SSQK,BJDZT,FKJG,BJRXM,BJRXB,BJRLXDH,BJRGMSFHM,BJRZZ,WECHAT,GXSJ,IF_ACCEPT,JJ_OBJID,CLSJ,STATUS,RESERVE1,RESERVE2,RESERVE3,RESERVE4,RESERVE5,RESERVE6,RESERVE7,RESERVE8
    </sql>

    <!-- user-defined -->
    <select id="getBigScreenYbjxxList" resultType="com.pkusoft.jjpt.res.Ybjxx" >
        select * from (
                select t.BJID as objid,t.BJRLXDH as bjdh,t.BJSJ as bjsj,'1010' as bjlx
                from ZZJBJ_BJXX t
                where t.BJDWDM = #{orgCode,jdbcType=VARCHAR}
                and t.STATUS != '2010'
                UNION ALL
                select p.OBJID as objid,p.LDHM as bjdh,p.CREATE_TIME as bjsj,'1020' as bjlx
                from SP_CALL_RECORD p
                where p.org_code = #{orgCode,jdbcType=VARCHAR}
                and p.STATUS != '2010'
                and p.LD_TYPE_CODE != '22'
        ) order by bjsj desc
    </select>

</mapper>
