<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.lesp.mapper.RsJbjYbjxxMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.lesp.po.RsJbjYbjxx">
            <id column="BJID" jdbcType="VARCHAR" property="bjid"/>
            <result column="BJDBH" jdbcType="VARCHAR" property="bjdbh"/>
            <result column="JQLY" jdbcType="VARCHAR" property="jqly"/>
            <result column="BJLB" jdbcType="VARCHAR" property="bjlb"/>
            <result column="SFJT" jdbcType="VARCHAR" property="sfjt"/>
            <result column="BJDWDM" jdbcType="VARCHAR" property="bjdwdm"/>
            <result column="BJDWMC" jdbcType="VARCHAR" property="bjdwmc"/>
            <result column="BJSJ" jdbcType="TIMESTAMP" property="bjsj"/>
            <result column="BJDZT" jdbcType="VARCHAR" property="bjdzt"/>
            <result column="BJRLXDH" jdbcType="VARCHAR" property="bjrlxdh"/>
            <result column="WECHAT" jdbcType="VARCHAR" property="wechat"/>
            <result column="BJRGMSFHM" jdbcType="VARCHAR" property="bjrgmsfhm"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="GXSJ" jdbcType="TIMESTAMP" property="gxsj"/>
            <result column="CQSJ" jdbcType="TIMESTAMP" property="cqsj"/>
            <result column="GA_OWNER_DEPT_1" jdbcType="VARCHAR" property="gaOwnerDept1"/>
            <result column="GA_OWNER_DEPT_2" jdbcType="VARCHAR" property="gaOwnerDept2"/>
            <result column="GA_OWNER_DEPT_3" jdbcType="VARCHAR" property="gaOwnerDept3"/>
            <result column="GA_OWNER_DEPT_4" jdbcType="VARCHAR" property="gaOwnerDept4"/>
            <result column="GA_OWNER_DEPT_5" jdbcType="VARCHAR" property="gaOwnerDept5"/>

    </resultMap>

    <sql id="Base_Column_List">
        BJID,BJDBH,JQLY,BJLB,SFJT,BJDWDM,BJDWMC,BJSJ,BJDZT,BJRLXDH,WECHAT,BJRGMSFHM,STATUS,GXSJ,CQSJ,GA_OWNER_DEPT_1,GA_OWNER_DEPT_2,GA_OWNER_DEPT_3,GA_OWNER_DEPT_4,GA_OWNER_DEPT_5
    </sql>

    <!-- user-defined -->

</mapper>