<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.lesp.mapper.StatisticsMapper">
	<resultMap id="ResultMap" type="com.pkusoft.lesp.po.StatisticsData">
		<result column="DATA01" jdbcType="INTEGER" property="data01" />
		<result column="DATA02" jdbcType="INTEGER" property="data02" />
		<result column="DATA03" jdbcType="INTEGER" property="data03" />
		<result column="DATA04" jdbcType="INTEGER" property="data04" />
		<result column="DATA05" jdbcType="INTEGER" property="data05" />
		<result column="DATA06" jdbcType="INTEGER" property="data06" />
		<result column="DATA07" jdbcType="INTEGER" property="data07" />
		<result column="DATA08" jdbcType="INTEGER" property="data08" />
		<result column="DATA09" jdbcType="INTEGER" property="data09" />
		<result column="DATA10" jdbcType="INTEGER" property="data10" />
		<result column="DATA11" jdbcType="INTEGER" property="data11" />
		<result column="DATA12" jdbcType="INTEGER" property="data12" />
		<result column="DATA13" jdbcType="INTEGER" property="data13" />
		<result column="DATA14" jdbcType="INTEGER" property="data14" />
		<result column="DATA15" jdbcType="VARCHAR" property="data15" />
		<!-- <result column="DATA17" jdbcType="INTEGER" property="data17" />
		<result column="DATA18" jdbcType="INTEGER" property="data18" />
		<result column="DATA19" jdbcType="INTEGER" property="data19" />
		<result column="DATA20" jdbcType="INTEGER" property="data20" /> -->
	</resultMap>


	<!--<select id="getMonthlyYbjData" resultMap="ResultMap" >
		select
			nvl(sum(decode (t.JQLY ,'10',1,0)) ,'0') as  data01,
		    nvl(sum(decode (t.JQLY ,'21',1,0)) ,'0') as  data02,
		    nvl(sum(decode (t.JQLY ,'22',1,0)) ,'0') as  data03
		from RS_JBJ_YBJXX t
		where t.BJDWDM = #{deptId,jdbcType=VARCHAR}
		and EXTRACT(YEAR FROM t.BJSJ) = #{year,jdbcType=VARCHAR}
		and EXTRACT(MONTH FROM t.BJSJ) = #{month,jdbcType=VARCHAR}
	</select>-->

	<select id="getYbjData" resultMap="ResultMap" >
		select
		nvl(sum(decode (t.JQLY ,'10',1,0)) ,'0') as  data01,
		nvl(sum(decode (t.JQLY ,'21',1,0)) ,'0') as  data02
		from RS_JBJ_YBJXX t
		where EXTRACT(YEAR FROM t.BJSJ) = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM t.BJSJ) = #{month,jdbcType=VARCHAR}
		</if>
		<if test="day != null and day != ''">
			AND EXTRACT(DAY FROM t.BJSJ) = #{day,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getJjData" resultMap="ResultMap" >
		select
			nvl(sum(decode (t.REPORTER_SOURCE ,'1002',1,0)) ,'0') as  data01,
			nvl(sum(decode (t.REPORTER_SOURCE ,'1001',1,0)) ,'0') as  data02,
			nvl(sum(decode (t.REPORTER_SOURCE ,'1003',1,0)) ,'0') as  data03
		from RS_JBJ_JJXX t
		where EXTRACT(YEAR FROM t.JJSJ) = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM t.JJSJ) = #{month,jdbcType=VARCHAR}
		</if>
		<if test="day != null and day != ''">
			AND EXTRACT(DAY FROM t.JJSJ) = #{day,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getCjfkData" resultMap="ResultMap" >
		select COUNT(CJDBH) DATA01,CJJGBM DATA15
		from RS_JBJ_FKXX t
		where EXTRACT(YEAR FROM t.CJSJ) = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM t.CJSJ) = #{month,jdbcType=VARCHAR}
		</if>
		<if test="day != null and day != ''">
			AND EXTRACT(DAY FROM t.CJSJ) = #{day,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
		GROUP BY CJJGBM
		order by DATA01 desc
	</select>

    <select id="getYbjflData" resultMap="ResultMap" >
        select
        nvl(sum(decode (t.BJLB ,'1007',1,0)) ,'0') as  data01,
        nvl(sum(decode (t.BJLB ,'1001',1,0)) ,'0') as  data02,
        nvl(sum(decode (t.BJLB ,'1002',1,0)) ,'0') as  data03,
        nvl(sum(decode (t.BJLB ,'1003',1,0)) ,'0') as  data04,
        nvl(sum(decode (t.BJLB ,'1004',1,0)) ,'0') as  data05,
        nvl(sum(decode (t.BJLB ,'1005',1,0)) ,'0') as  data06,
        nvl(sum(decode (t.BJLB ,'1006',1,0)) ,'0') as  data07,
        nvl(sum(decode (t.BJLB ,'1008',1,0)) ,'0') as  data08,
        nvl(sum(decode (t.BJLB ,'1009',1,0)) ,'0') as  data09
        from RS_JBJ_YBJXX t
        where EXTRACT(YEAR FROM t.BJSJ) = #{year,jdbcType=VARCHAR}
        <if test="month != null and month != ''">
            AND EXTRACT(MONTH FROM t.BJSJ) = #{month,jdbcType=VARCHAR}
        </if>
        <if test="day != null and day != ''">
            AND EXTRACT(DAY FROM t.BJSJ) = #{day,jdbcType=VARCHAR}
        </if>
        <if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
            AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
            AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
            AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
        </if>
        AND JQLY = '10'
    </select>

	<select id="getWtmxCount" resultMap="ResultMap" >
		select
		nvl(sum(decode (t.WTMX_BH ,'LESP_PMS0403',1,0)) ,'0') as  data01,
		nvl(sum(decode (t.WTMX_BH ,'LESP_PMS0404',1,0)) ,'0') as  data02,
		nvl(sum(decode (t.WTMX_BH ,'LESP_PMS0402',1,0)) ,'0') as  data03,
		nvl(sum(decode (t.WTMX_BH ,'LESP_PMS0405',1,0)) ,'0') as  data04
		from PC_YJWT t
		where
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
		order by CREATED_DATE desc
	</select>

	<select id="getFljqData" resultMap="ResultMap" >
		select
		nvl(sum(decode (substr(t.JQTYPEID1,0,2) ,'01',1,0)) ,'0') as  data01,
		nvl(sum(decode (substr(t.JQTYPEID1,0,2) ,'02',1,0)) ,'0') as  data02,
		nvl(sum(decode (substr(t.JQTYPEID1,0,2) ,'03',1,0)) ,'0') as  data03,
		nvl(sum(decode (substr(t.JQTYPEID1,0,2) ,'04',1,0)) ,'0') as  data04,
		nvl(sum(decode (substr(t.JQTYPEID1,0,2) ,'05',1,0)) ,'0') as  data05,
		nvl(sum(decode (substr(t.JQTYPEID1,0,2) ,'11',1,0)) ,'0') as  data06,
		count(JJDBH) as data07
		from RS_JBJ_JJXX t
		where EXTRACT(YEAR FROM t.JJSJ) = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM t.JJSJ) = #{month,jdbcType=VARCHAR}
		</if>
		<if test="day != null and day != ''">
			AND EXTRACT(DAY FROM t.JJSJ) = #{day,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getZjqsYbjData" resultMap="ResultMap" >
		select
            nvl(sum(decode ( to_char(t.BJSJ,'yyyy-mm-dd') , to_char(sysdate,'yyyy-mm-dd'),1,0)) ,'0') as  data01,
            nvl(sum(decode ( to_char(t.BJSJ,'yyyy-mm-dd') , to_char(sysdate-1,'yyyy-mm-dd'),1,0)) ,'0') as  data02,
            nvl(sum(decode ( to_char(t.BJSJ,'yyyy-mm-dd') , to_char(sysdate-2,'yyyy-mm-dd'),1,0)) ,'0') as  data03,
            nvl(sum(decode ( to_char(t.BJSJ,'yyyy-mm-dd') , to_char(sysdate-3,'yyyy-mm-dd'),1,0)) ,'0') as  data04,
            nvl(sum(decode ( to_char(t.BJSJ,'yyyy-mm-dd') , to_char(sysdate-4,'yyyy-mm-dd'),1,0)) ,'0') as  data05,
            nvl(sum(decode ( to_char(t.BJSJ,'yyyy-mm-dd') , to_char(sysdate-5,'yyyy-mm-dd'),1,0)) ,'0') as  data06,
            nvl(sum(decode ( to_char(t.BJSJ,'yyyy-mm-dd') , to_char(sysdate-6,'yyyy-mm-dd'),1,0)) ,'0') as  data07,
            nvl(sum(decode ( to_char(t.BJSJ,'yyyy-mm-dd') , to_char(sysdate-7,'yyyy-mm-dd'),1,0)) ,'0') as  data08,
            nvl(sum(decode ( to_char(t.BJSJ,'yyyy-mm-dd') , to_char(sysdate-8,'yyyy-mm-dd'),1,0)) ,'0') as  data09,
            nvl(sum(decode ( to_char(t.BJSJ,'yyyy-mm-dd') , to_char(sysdate-9,'yyyy-mm-dd'),1,0)) ,'0') as  data10
		from RS_JBJ_YBJXX t
		where t.BJSJ >= sysdate-10
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getZjqsJjData" resultMap="ResultMap" >
        select
            nvl(sum(decode ( to_char(t.JJSJ,'yyyy-mm-dd') , to_char(sysdate,'yyyy-mm-dd'),1,0)) ,'0') as  data01,
            nvl(sum(decode ( to_char(t.JJSJ,'yyyy-mm-dd') , to_char(sysdate-1,'yyyy-mm-dd'),1,0)) ,'0') as  data02,
            nvl(sum(decode ( to_char(t.JJSJ,'yyyy-mm-dd') , to_char(sysdate-2,'yyyy-mm-dd'),1,0)) ,'0') as  data03,
            nvl(sum(decode ( to_char(t.JJSJ,'yyyy-mm-dd') , to_char(sysdate-3,'yyyy-mm-dd'),1,0)) ,'0') as  data04,
            nvl(sum(decode ( to_char(t.JJSJ,'yyyy-mm-dd') , to_char(sysdate-4,'yyyy-mm-dd'),1,0)) ,'0') as  data05,
            nvl(sum(decode ( to_char(t.JJSJ,'yyyy-mm-dd') , to_char(sysdate-5,'yyyy-mm-dd'),1,0)) ,'0') as  data06,
            nvl(sum(decode ( to_char(t.JJSJ,'yyyy-mm-dd') , to_char(sysdate-6,'yyyy-mm-dd'),1,0)) ,'0') as  data07,
            nvl(sum(decode ( to_char(t.JJSJ,'yyyy-mm-dd') , to_char(sysdate-7,'yyyy-mm-dd'),1,0)) ,'0') as  data08,
            nvl(sum(decode ( to_char(t.JJSJ,'yyyy-mm-dd') , to_char(sysdate-8,'yyyy-mm-dd'),1,0)) ,'0') as  data09,
            nvl(sum(decode ( to_char(t.JJSJ,'yyyy-mm-dd') , to_char(sysdate-9,'yyyy-mm-dd'),1,0)) ,'0') as  data10
        from RS_JBJ_JJXX t
        where t.JJSJ >= sysdate-10
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
	</select>












	<select id="getMonthlyJjData" resultMap="ResultMap" >
        select
            nvl(sum(decode (t.REPORTER_SOURCE ,'1002',1,0)) ,'0') as  data01,
            nvl(sum(decode (t.REPORTER_SOURCE ,'1001',1,0)) ,'0') as  data02,
            nvl(sum(decode (t.REPORTER_SOURCE ,'1003',1,0)) ,'0') as  data03,
            nvl(sum(decode (t.REPORTER_SOURCE ,'9999',1,0)) ,'0') as  data04
        from RS_JBJ_JJXX t
        where t.ORG_CODE = #{deptId,jdbcType=VARCHAR}
        and EXTRACT(YEAR FROM t.BJSJ) = #{year,jdbcType=VARCHAR}
        and EXTRACT(MONTH FROM t.BJSJ) = #{month,jdbcType=VARCHAR}
	</select>

    <select id="getMonthlyYbjflData" resultMap="ResultMap" >
		select
			nvl(sum(decode (t.BJLB ,'1001',1,0)) ,'0') as  data01,
		    nvl(sum(decode (t.BJLB ,'1002',1,0)) ,'0') as  data02,
		    nvl(sum(decode (t.BJLB ,'1003',1,0)) ,'0') as  data03,
		    nvl(sum(decode (t.BJLB ,'1004',1,0)) ,'0') as  data04,
		    nvl(sum(decode (t.BJLB ,'1005',1,0)) ,'0') as  data05,
		    nvl(sum(decode (t.BJLB ,'1006',1,0)) ,'0') as  data06,
		    nvl(sum(decode (t.BJLB ,'1007',1,0)) ,'0') as  data07,
		    nvl(sum(decode (t.BJLB ,'1008',1,0)) ,'0') as  data08,
		    nvl(sum(decode (t.BJLB ,'1009',1,0)) ,'0') as  data09
		from RS_JBJ_YBJXX t
		where t.BJDWDM = #{deptId,jdbcType=VARCHAR}
		and EXTRACT(YEAR FROM t.BJSJ) = #{year,jdbcType=VARCHAR}
		and EXTRACT(MONTH FROM t.BJSJ) = #{month,jdbcType=VARCHAR}
	</select>

    <select id="getMonthlyFljqData" resultMap="ResultMap" >
        select
            nvl(sum(decode (t.JQTYPEID1 ,'10000',1,0)) ,'0') as  data01,
            nvl(sum(decode (t.JQTYPEID1 ,'20000',1,0)) ,'0') as  data02,
            nvl(sum(decode (t.JQTYPEID1 ,'30000',1,0)) ,'0') as  data03,
            nvl(sum(decode (t.JQTYPEID1 ,'990000',1,0)) ,'0') as  data04
        from RS_JBJ_JJXX t
        where t.ORG_CODE = #{deptId,jdbcType=VARCHAR}
        and EXTRACT(YEAR FROM t.BJSJ) = #{year,jdbcType=VARCHAR}
        and EXTRACT(MONTH FROM t.BJSJ) = #{month,jdbcType=VARCHAR}
	</select>






	<!--<select id="getRecentAcceptCaseCount" resultMap="ResultMap" >
		select
			nvl(sum(decode (t.STATUS ,'1001',1,0)) ,'0') as  data01,
		    nvl(sum(decode (t.STATUS ,'1002',1,0)) ,'0') as  data02,
		    nvl(sum(decode (t.STATUS ,'1003',1,0)) ,'0') as  data03,
		    nvl(sum(decode (t.STATUS ,'1004',1,0)) ,'0') as  data04,
		    nvl(sum(decode (t.STATUS ,'1005',1,0)) ,'0') as  data05
		from SP_ALARM t
		where t.ORG_CODE = #{orgCode,jdbcType=VARCHAR}
		AND t.BJSJ &lt;= sysdate+1
		AND t.BJSJ &gt;= sysdate-1
	</select>

	<select id="getYearlyCaseCountByCaseType" resultMap="ResultMap" >
		select SUM(DECODE(t.jqtypeid1, #{itemCode,jdbcType=VARCHAR}, 1, 0)) as data01
     	from sp_alarm t
     	where EXTRACT(YEAR FROM t.bjsj) = #{year,jdbcType=VARCHAR}
     	and t.org_code = #{orgCode,jdbcType=VARCHAR}
	</select>

	<select id="getMonthlyCaseCountByCaseType" resultMap="ResultMap" >
		select SUM(DECODE(t.jqtypeid1, #{itemCode,jdbcType=VARCHAR}, 1, 0)) as data01
     	from sp_alarm t
     	where EXTRACT(YEAR FROM t.bjsj) = #{year,jdbcType=VARCHAR}
     	and EXTRACT(MONTH FROM t.bjsj) = #{month,jdbcType=VARCHAR}
     	and t.org_code = #{orgCode,jdbcType=VARCHAR}
	</select>

	<select id="getWeeklyCaseCountByCaseType" resultMap="ResultMap" >
		select SUM(DECODE(t.jqtypeid1, #{itemCode,jdbcType=VARCHAR}, 1, 0)) as data01
     	from sp_alarm t
     	where t.bjsj >= TRUNC(NEXT_DAY(SYSDATE-8,1)+1)
     	and t.bjsj &lt; TRUNC(NEXT_DAY(SYSDATE-8,1)+7)+1
     	and t.org_code = #{orgCode,jdbcType=VARCHAR}
	</select>

	<select id="getYearlyCaseCountByCommunity" resultMap="ResultMap" >
		select SUM(DECODE(t.community_code, #{communityCode,jdbcType=VARCHAR}, 1, 0)) as data01
		from sp_alarm t
		where EXTRACT(YEAR FROM t.bjsj) = #{year,jdbcType=VARCHAR}
		and t.org_code = #{orgCode,jdbcType=VARCHAR}
	</select>

	<select id="getMonthlyCaseCountByCommunity" resultMap="ResultMap" >
		select SUM(DECODE(t.community_code, #{communityCode,jdbcType=VARCHAR}, 1, 0)) as data01
		from sp_alarm t
		where EXTRACT(YEAR FROM t.bjsj) = #{year,jdbcType=VARCHAR}
		and EXTRACT(MONTH FROM t.bjsj) = #{month,jdbcType=VARCHAR}
		and t.org_code = #{orgCode,jdbcType=VARCHAR}
	</select>

	<select id="getWeeklyCaseCountByCommunity" resultMap="ResultMap" >
		select SUM(DECODE(t.community_code, #{communityCode,jdbcType=VARCHAR}, 1, 0)) as data01
		from sp_alarm t
		where t.bjsj >= TRUNC(NEXT_DAY(SYSDATE-8,1)+1)
     	and t.bjsj &lt; TRUNC(NEXT_DAY(SYSDATE-8,1)+7)+1
		and t.org_code = #{orgCode,jdbcType=VARCHAR}
	</select>

    <select id="getCaseCountByMonthlyReportSource" resultMap="ResultMap" >
        SELECT
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 1, 1, 0)) AS data01,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 2, 1, 0)) AS data02,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 3, 1, 0)) AS data03,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 4, 1, 0)) AS data04,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 5, 1, 0)) AS data05,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 6, 1, 0)) AS data06,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 7, 1, 0)) AS data07,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 8, 1, 0)) AS data08,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 9, 1, 0)) AS data09,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 10, 1, 0)) AS data10,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 11, 1, 0)) AS data11,
            SUM(DECODE(EXTRACT(MONTH FROM B.BJSJ), 12, 1, 0)) AS data12
        FROM SP_ALARM B
        WHERE B.ORG_CODE = #{orgCode,jdbcType=VARCHAR}
        AND B.Reporter_Source = #{reportSource,jdbcType=VARCHAR}
        AND EXTRACT(YEAR FROM B.BJSJ) = #{year,jdbcType=VARCHAR}
    </select>-->

	<select id="getSmbaData" resultMap="ResultMap" >
		select
		COUNT(1) as data01
		from RS_JBJ_YBJXX t
		where EXTRACT(YEAR FROM t.BJSJ) = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM t.BJSJ) = #{month,jdbcType=VARCHAR}
		</if>
		<if test="day != null and day != ''">
			AND EXTRACT(DAY FROM t.BJSJ) = #{day,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getYbafsdbData" resultMap="ResultMap" >
		select
		COUNT(1) as  data01,t.jqly as  data02
		from RS_JBJ_YBJXX t
		where EXTRACT(YEAR FROM t.BJSJ) = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM t.BJSJ) = #{month,jdbcType=VARCHAR}
		</if>
		<if test="day != null and day != ''">
			AND EXTRACT(DAY FROM t.BJSJ) = #{day,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
		GROUP BY t.jqly
	</select>

	<select id="getYbaclztfxData" resultMap="ResultMap" >
		select
		COUNT(1) as  data01,t.BJDZT as  data02
		from RS_JBJ_YBJXX t
		where EXTRACT(YEAR FROM t.BJSJ) = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM t.BJSJ) = #{month,jdbcType=VARCHAR}
		</if>
		<if test="day != null and day != ''">
			AND EXTRACT(DAY FROM t.BJSJ) = #{day,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
		GROUP BY t.BJDZT
	</select>

	<select id="getBalxData" resultMap="ResultMap" >
		select
		COUNT(1) as  data01,t.BJLB as  data02
		from RS_JBJ_YBJXX t
		where EXTRACT(YEAR FROM t.BJSJ) = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM t.BJSJ) = #{month,jdbcType=VARCHAR}
		</if>
		<if test="day != null and day != ''">
			AND EXTRACT(DAY FROM t.BJSJ) = #{day,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND GA_OWNER_DEPT_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND GA_OWNER_DEPT_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND GA_OWNER_DEPT_4 = #{deptId,jdbcType=VARCHAR}
		</if>
		GROUP BY t.BJLB
	</select>

	<select id="getPyzbData" resultMap="ResultMap" >
		select
		COUNT(1) as  data01,t.STATUS as  data02
		from RS_JBJ_PYJD t
		where EXTRACT(YEAR FROM t.AP_TIME) = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM t.AP_TIME) = #{month,jdbcType=VARCHAR}
		</if>
		<if test="day != null and day != ''">
			AND EXTRACT(DAY FROM t.AP_TIME) = #{day,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND OWN_ORG_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND OWN_ORG_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND OWN_ORG_4 = #{deptId,jdbcType=VARCHAR}
		</if>
		GROUP BY t.STATUS
	</select>

	<select id="getPymydData" resultMap="ResultMap" >
		select
		COUNT(1) as  data01,t.SCORE as  data02
		from RS_JBJ_PYJD t
		where EXTRACT(YEAR FROM t.AP_TIME) = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM t.AP_TIME) = #{month,jdbcType=VARCHAR}
		</if>
		<if test="day != null and day != ''">
			AND EXTRACT(DAY FROM t.AP_TIME) = #{day,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '2'.toString()">
			AND OWN_ORG_2 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '3'.toString()">
			AND OWN_ORG_3 = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="deptLevel != null and deptLevel != '' and deptLevel == '4'.toString()">
			AND OWN_ORG_4 = #{deptId,jdbcType=VARCHAR}
		</if>
		GROUP BY t.SCORE
	</select>
</mapper>
