<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.pzzx.mapper.BdHandlingAreaMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.pzzx.po.BdHandlingArea">
            <id column="OBJID" jdbcType="VARCHAR" property="objid"/>
            <result column="OBJCODE" jdbcType="VARCHAR" property="objcode"/>
            <result column="OBJNAME" jdbcType="VARCHAR" property="objname"/>
            <result column="OBJTYPE" jdbcType="VARCHAR" property="objtype"/>
            <result column="AREA" jdbcType="DECIMAL" property="area"/>
            <result column="ADDRSS" jdbcType="VARCHAR" property="addrss"/>
            <result column="ALARM_SCREEN_IP" jdbcType="VARCHAR" property="alarmScreenIp"/>
            <result column="ALARM_SCREEN_PLACE" jdbcType="VARCHAR" property="alarmScreenPlace"/>
            <result column="AREA_TEL" jdbcType="VARCHAR" property="areaTel"/>
            <result column="IF_WECHAT_ALARM" jdbcType="VARCHAR" property="ifWechatAlarm"/>
            <result column="CHARGE_USER_ID" jdbcType="VARCHAR" property="chargeUserId"/>
            <result column="CHARGE_POLICE_CODE" jdbcType="VARCHAR" property="chargePoliceCode"/>
            <result column="CHARGE_NAME" jdbcType="VARCHAR" property="chargeName"/>
            <result column="CHARGE_IDCARD" jdbcType="VARCHAR" property="chargeIdcard"/>
            <result column="CHARGE_TEL" jdbcType="VARCHAR" property="chargeTel"/>
            <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
            <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
            <result column="ROW_STATUS" jdbcType="VARCHAR" property="rowStatus"/>
            <result column="CREATE_ID" jdbcType="VARCHAR" property="createId"/>
            <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName"/>
            <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="MODER_ID" jdbcType="VARCHAR" property="moderId"/>
            <result column="MODER_NAME" jdbcType="VARCHAR" property="moderName"/>
            <result column="MODER_TIME" jdbcType="TIMESTAMP" property="moderTime"/>
            <result column="GA_OWNER_DEPT_1" jdbcType="VARCHAR" property="gaOwnerDept1"/>
            <result column="GA_OWNER_DEPT_2" jdbcType="VARCHAR" property="gaOwnerDept2"/>
            <result column="GA_OWNER_DEPT_3" jdbcType="VARCHAR" property="gaOwnerDept3"/>
            <result column="GA_OWNER_DEPT_4" jdbcType="VARCHAR" property="gaOwnerDept4"/>
            <result column="GA_OWNER_DEPT_5" jdbcType="VARCHAR" property="gaOwnerDept5"/>
            <result column="BZ_OWNER_DEPT_1" jdbcType="VARCHAR" property="bzOwnerDept1"/>
            <result column="BZ_OWNER_DEPT_2" jdbcType="VARCHAR" property="bzOwnerDept2"/>
            <result column="BZ_OWNER_DEPT_3" jdbcType="VARCHAR" property="bzOwnerDept3"/>
            <result column="BZ_OWNER_DEPT_4" jdbcType="VARCHAR" property="bzOwnerDept4"/>
            <result column="BZ_OWNER_DEPT_5" jdbcType="VARCHAR" property="bzOwnerDept5"/>
            <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1"/>
            <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2"/>
            <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3"/>
            <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4"/>
            <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5"/>
            <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6"/>
            <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7"/>
            <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8"/>
            <result column="RESERVE9" jdbcType="VARCHAR" property="reserve9"/>
            <result column="RESERVE10" jdbcType="VARCHAR" property="reserve10"/>

    </resultMap>

    <sql id="Base_Column_List">
        OBJID,OBJCODE,OBJNAME,OBJTYPE,AREA,ADDRSS,ALARM_SCREEN_IP,ALARM_SCREEN_PLACE,AREA_TEL,IF_WECHAT_ALARM,CHARGE_USER_ID,CHARGE_POLICE_CODE,CHARGE_NAME,CHARGE_IDCARD,CHARGE_TEL,ORG_CODE,ORG_NAME,STATUS,MEMO,ROW_STATUS,CREATE_ID,CREATE_NAME,CREATE_TIME,MODER_ID,MODER_NAME,MODER_TIME,GA_OWNER_DEPT_1,GA_OWNER_DEPT_2,GA_OWNER_DEPT_3,GA_OWNER_DEPT_4,GA_OWNER_DEPT_5,BZ_OWNER_DEPT_1,BZ_OWNER_DEPT_2,BZ_OWNER_DEPT_3,BZ_OWNER_DEPT_4,BZ_OWNER_DEPT_5,RESERVE1,RESERVE2,RESERVE3,RESERVE4,RESERVE5,RESERVE6,RESERVE7,RESERVE8,RESERVE9,RESERVE10
    </sql>

    <!-- user-defined -->

</mapper>