<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkusoft.zfsp.mapper.RsSypGlxxMapper">
    <!-- @codeGenerate -->
    <resultMap id="BaseResultMap" type="com.pkusoft.zfsp.model.RsSypGlxx">
            <id column="SYPBH" jdbcType="VARCHAR" property="sypbh"/>
            <result column="URL" jdbcType="VARCHAR" property="url"/>
            <result column="JJBH" jdbcType="VARCHAR" property="jjbh"/>
            <result column="CJBH" jdbcType="VARCHAR" property="cjbh"/>
            <result column="AJBH" jdbcType="VARCHAR" property="ajbh"/>
            <result column="DWBH" jdbcType="VARCHAR" property="dwbh"/>
            <result column="DWMC" jdbcType="VARCHAR" property="dwmc"/>
            <result column="GA_OWNER_DEPT_1" jdbcType="VARCHAR" property="gaOwnerDept1"/>
            <result column="GA_OWNER_DEPT_2" jdbcType="VARCHAR" property="gaOwnerDept2"/>
            <result column="GA_OWNER_DEPT_3" jdbcType="VARCHAR" property="gaOwnerDept3"/>
            <result column="GA_OWNER_DEPT_4" jdbcType="VARCHAR" property="gaOwnerDept4"/>
            <result column="GA_OWNER_DEPT_5" jdbcType="VARCHAR" property="gaOwnerDept5"/>
            <result column="BZ_OWNER_DEPT_1" jdbcType="VARCHAR" property="bzOwnerDept1"/>
            <result column="BZ_OWNER_DEPT_2" jdbcType="VARCHAR" property="bzOwnerDept2"/>
            <result column="BZ_OWNER_DEPT_3" jdbcType="VARCHAR" property="bzOwnerDept3"/>
            <result column="BZ_OWNER_DEPT_4" jdbcType="VARCHAR" property="bzOwnerDept4"/>
            <result column="BZ_OWNER_DEPT_5" jdbcType="VARCHAR" property="bzOwnerDept5"/>
            <result column="LB" jdbcType="VARCHAR" property="lb"/>
            <result column="PSR_SFZHM" jdbcType="VARCHAR" property="psrSfzhm"/>
            <result column="PSR_XM" jdbcType="VARCHAR" property="psrXm"/>
            <result column="PSR_JH" jdbcType="VARCHAR" property="psrJh"/>
            <result column="PSSJ" jdbcType="DATE" property="pssj"/>
            <result column="SCSJ" jdbcType="DATE" property="scsj"/>
            <result column="GLSJ" jdbcType="DATE" property="glsj"/>
            <result column="XGSJ" jdbcType="DATE" property="xgsj"/>
            <result column="SPSC" jdbcType="VARCHAR" property="spsc"/>

    </resultMap>

    <sql id="Base_Column_List">
        SYPBH,URL,JJBH,CJBH,AJBH,DWBH,DWMC,GA_OWNER_DEPT_1,GA_OWNER_DEPT_2,GA_OWNER_DEPT_3,GA_OWNER_DEPT_4,GA_OWNER_DEPT_5,BZ_OWNER_DEPT_1,BZ_OWNER_DEPT_2,BZ_OWNER_DEPT_3,BZ_OWNER_DEPT_4,BZ_OWNER_DEPT_5,LB,PSR_SFZHM,PSR_XM,PSR_JH,PSSJ,SCSJ,GLSJ,XGSJ,SPSC
    </sql>

    <!-- user-defined -->

</mapper>